*
*/
!*/
!.gitignore

!App/App.fsproj
!App/Program.fs
!App/Usecases/*.fs
!App/Controllers/*.fs
!App/Domain/*.fs
!App/Boundaries/*.fs
!App/Properties/*
!App/appsettings.json
!App/appsettings.Development.json
!App/paket.references

!paket.lock
!paket.dependencies

!Dockerfile

!async-app.sln
!.config/dotnet-tools.json