{:paths ["src" "resources"]
 :deps {org.clojure/core.async {:mvn/version "1.6.681"}
        net.cgrand/xforms {:mvn/version "0.19.5"}
        tick/tick {:mvn/version "0.6.2"}
        funcool/cuerdas {:mvn/version "2022.03.27-397"}}
 :aliases
 {:dev {:jvm-opts ["-Xmx32g"]}}}